<section class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative "
data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
    <header>
        <h2 class="text-black pt-40 text-[40px] font-medium ">Model Y 
        </h2>
            <p class="text-black text-sm underline">Haz tu prueba de conexion
            </p>
</header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-6 flex mx-auto">
    <a class="bg-gray-600 text-sm rounded font-medium text-white px-12
        py-2 inline-block transition-colors hover:bg-gray-500 hover:text-black">Explorar inventario
        </a>

        <a class=" bg-white border-2 text-sm border-white rounded font-medium text-black py-2 px-12 inline-block
        hover:bg-black hover:text-white  transition-colors">Pedido perzonalizado
            </a>

            </div>
        </footer>
</div>

<div class="absolute top-0 bottom-0 h-full w-full z-10 ">
<img 
src="../public/model-y.avif"
alt="Model y"
class="h-full w-full object-cover object-center"
/>
</div>
</section>