<section class= "landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        
        <h2 class="text-white pt-40 text-[40px] font-medium ">Disfrute de tesla
        </h2>
            <p class="text-white text-sm">Programe un prueba de conduccion hoy mismo
            </p>
</header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div>
    <a class="border-2 text-sm border-white rounded font-medium text-white py-2 px-12 inline-block
    hover:bg-white hover:text-black transition-colors">Prueba de conduccion
        </a>
            </div>
        </footer>
</div>

<div class="absolute top-0 bottom-0 h-full z-10 ">
    <video class="object-center" autoplay muted loop src="/public/video.webm"></video>
</div>
</section>